@import url("colors.css");

#bar-inner {
    border-radius: 3px;
    padding: 4px;
    border: solid 2px;
    border-color: var(--border-color);
    background-color: var(--bg);
}

#bar-inner button {
    background-color: var(--button-normal);
    padding: 2px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

#bar-inner button:hover {
    background-color: var(--button-hover);
}

.widgets-container {
    background-color: var(--widgets-container-bg);
    padding: 2px;
    border-radius: 3px;
}

#workspace-buttons {
    padding: 6px;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--widgets-container-bg);
}

#workspace-buttons>button {
    padding: 8px 8px;
    border-radius: 8px;
    transition: padding 0.3s, background-color 0.3s;
    background-color: var(--ws-inactive);
}

#workspace-buttons>button>label {
    font-size: 0px;
}

#workspace-buttons>button:hover,
#workspace-buttons>button.empty:hover {
    background-color: var(--ws-hover);
}

#workspace-buttons>button.urgent {
    background-color: var(--ws-urgent);
}

#workspace-buttons>button.active {
    padding: 24px 8px;
    background-color: var(--ws-active);
}

#workspace-buttons>button.empty {
    background-color: var(--ws-empty);
}

#datetime-widget {
    color: var(--datetime-fg);
    font-weight: bold;
}

#volume-progress-bar {
    color: transparent;
    background-color: transparent;
    border: solid 0px var(--volume);
}
