* {
    all: unset;
    font-family: "Roboto", sans-serif;
}

@import url("./panel/style.css");
@import url("./bar/style.css");
@import url("./notifications/style.css");

menu {
    border: solid 2px;
    border-radius: 3px;
    border-color: var(--border-color);
    background-color: var(--bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--bg);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:disabled {
    color: var(--menuitem-disabled);
}

menu>menuitem:first-child {
    margin-top: 2px;
}

menu>menuitem:last-child {
    margin-bottom: 2px;
}

menu>menuitem:hover {
    background-color: var(--menuitem-hover);
}

tooltip {
    border: solid 2px;
    border-color: var(--border-color);
    border-radius: 3px;
    background-color: var(--bg);
}

tooltip>* {
    padding: 2px 4px
}
