[user]
	email = mncc8327@gmail.com
	name = mncc8337
	signingkey = FDA61DAB118DA55B61F71E2E421F5AE5D27BDE4B
[credential]
	helper = store
[core]
	editor = nvim
[color]
	ui = auto
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[fetch]
	prune = true
