ACTION=="add|change", SUBSYSTEM=="power_supply", KERNEL=="BAT0", RUN+="/bin/chgrp wheel /sys/class/power_supply/%k/charge_types", RUN+="/bin/chmod 664 /sys/class/power_supply/%k/charge_types"
